@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}

h1 { 
    margin: 0; 
}


body {
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}


header {
    text-align: center;
    vertical-align: middle;
    background-color: red;
}


main {
    background-color: green;
    padding: 10px;    
}


nav {
    background-color: orange;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
}


nav li {
    display: inline;
}


article {
    padding: 10px;
    margin-top: 10px;
    background-color: blue;
}


footer {
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    background-color: purple;
}